*{
    margin: 0;
    padding: 0;
    background-attachment: scroll;
}
.main{
    background-color: #1ccacd;
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    height: 0px;
}
.box{
    display:inline ;
}
.ff{
    font-size: 17px;
    color: white;
}
.ss{
    margin-left: 80px;
}
.line{
    height: 350px;
    width: 600px;
    border: 1px solid rgb(213, 211, 211);
    margin-left:  475px;
}
.sp{
    margin-left: 310px;
     color: grey; 
     font-size: 19px;
      margin-top: 30px;
}
.sp:hover{
    color: black;
    cursor: pointer;
}
.fc{
    margin-left: 290px; 
    color: grey; 
    font-size: 19px; 
     padding-top:30px;
}
.fc:hover{
    color: black;
    cursor: pointer;
}
.cc{
    padding-top: 10px;
}
.aa{
    padding-top: 8px;
    font-size: 18px;
}
.bb{
    font-size: 18px;
    padding-left: 40px;
}
.dd{
    padding-top: 30px;
}
.ee{
    color: white; 
    padding-left: 170px;
     font-size: 23px;
}
.gg{
    padding-left: 20px;
}
.hh{
    padding-right: 170px;
     padding-left: px;
}
.vk{
    line-height: 1.7;
    margin-top: 20px;
    font-size: 17px;
}
.ii{
    padding-left: 180px;
     font-size: 45px;
      padding-top: 20px;
      background-color: #EAEAEA;
}
.jj{
    display: flex;
}
.kk{
    font-size: 21px;
     margin-top: 10px;
      margin-left: 220px;
}
.ll{
    font-size: 35px;
    margin-left: 80px;    
}
.mm{
    margin-left: 290px;
    margin-top: 25px;
    background-color: #EAEAEA;
}
.mm:hover{
    color: black;
    cursor: pointer;
}
.nn{
    color: grey;
    margin-left: 280px;
    margin-top: 30px;
}
.nn:hover{
    color: black;
    cursor: pointer;
}
.pt{
    color: grey;
    margin-left: 320px;
    margin-top: 30px;
}
.pt:hover{
    color: black;
    cursor: pointer;
}
.qt{
    height: 65px;
     width: 8px; 
     background-color: #1ccacd; 
      border: #1ccacd; 
      margin-left: 130px;
       margin-top: 50px;
}
.rr{
    color: grey;
     margin-left: 20px;
      margin-top: 70px; 
      font-size: 21px;
}
.tt{
    margin-left: 470px;
     margin-top: 15px; 
     font-size: 30px;
}
.uu{
    margin-left: 350px; 
    padding-top: 10px;
     font-weight: bolder;
      font-size: 17px;
}
.vv{
    margin-left: 260px; 
    padding-top: 70px;
}
.ww{
    margin-left: 320px;
     color:black;
      font-size: 17px;
       margin-top: 70px;
        font-weight: bolder;
}
.xy{
    margin-left: 330px;
     color: grey; 
     font-size: 19px; 
     margin-top: 30px;
}
.xy:hover{
    color: black;
    cursor: pointer;
}
.vs{
    line-height: 1.7;
    font-size: 17px;
}
.yy{
    padding-top: 55px;
     font-size: 30px;
      padding-left: 60px;
}
.zz{
    padding-top: 45px; 
    padding-left: 60px;
     font-size: 18px;
}
.ab{
    padding-top: 40px; 
    padding-left: 60px;
}
.cd{
    padding-top: 40px;
     font-size: 18px;
}
.ef{
    padding-left: 65px;
     padding-top: 60px;
      font-size: 25px;
}
.gh{
    font-size: 17px;
     padding-left: 65px;
      padding-top: 40px;
}
.ij{
    font-size: 18px;
    padding-top: 25px;
}
.kl{
    font-size: 18px;
}
.mn{
    font-size: 25px;
    padding-left: 65px;
    padding-top: 50px;
}
.op{
    font-size: 18px;
    padding-left: 65px;
    padding-top: 30px;
}
.qr{
    font-size: 18px;
    padding-top: 35px;
    padding-left: 40px;
}
.st{
    font-size: 26px;
     padding-left: 470px;
     padding-top: 50px;
}
.uv{
    font-size: 19px;
     padding-left: 470px;
     padding-top: 50px;
}
.wx{
    font-size: 27px;
     padding-left: 470px;
     padding-top: 50px;
}
.yz{
    font-size: 22px; 
    padding-left: 470px;
     color: #1ccacd;
     padding-top: 50px;
}
.za{
    color: #1ccacd;
     padding-left:630px ; 
     padding-bottom: 70px;
     padding-top: 90px;
}
.list123{
    display: inline;
    padding-left: 15px;
    color: white;
}
.list12{
    display: inline;
    padding-left: 15px;
    color: white;
}
ul > li > a{
    text-decoration: none;
    color: white;
}
@media screen and (min-width:481px) and (max-width:1900px){
    .jj > .ll1{
        display: none;
    }
    .jj > div .qt1{
        display: none;
    }
    .jj > .vi > .rr1{
        display: none;
    }
    .tt1{
        display: none;
    }
}
@media screen and (min-width:320px) and (max-width:480px){
    .main{
        background-color: #1ccacd;
        position: sticky;
        display: flex;
        justify-content: space-between;
        padding:20px 50px 50px 50px;
        height: 0px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .tt{
        display: none;
    }
    .qt{
        display: none;
    }
    .ss{
        margin-left: 30px;
    }
    .cc{
        padding-top: 20px;
    }
    .vs{
        margin-top: 20px;
        line-height: 1.5;
    }
    .ef{
        margin-left: -40px;
    }
    .gh{
        margin-left: -40px;
        margin-top: -10px;
        color: gray;
    }
    .ds{
        margin-top: 20px;
        line-height: 1.5;
    }
    .mn{
        padding-left: 10px;
    }
    .op{
        padding-left: 10px;
        color: gray;
    }
    .uu{
        margin-left: 25px; 
        padding-top: 85px;
        font-weight: bolder;
        font-size: 17px;
    }
    .jj > div > .sp{
        margin-left: 30px;
        color: grey; 
        font-size: 19px;
        margin-top: 30px;
    }
    .jj > div > .ps{
        margin-left: 30px;
        color: grey; 
        font-size: 19px;
        margin-top: 20px;
    }
    .jj > div > .vv{
        margin-left: 20px;
        margin-top: 10px;
        font-weight: bolder;
    }
    .jj >.vi{
        width: 100%;
        display: flex; 
        flex-direction: row;
    }
    .jj > .vi > .qt1{
        height: 105px;
        width: 15px; 
        background-color: #1ccacd; 
        border: #1ccacd; 
        margin-left: 30px;
        margin-top: 40px;
    }
     .jj > .vi > .rr1{
        color: grey;
        margin-left: 30px;
        margin-top: 60px; 
        font-size: 18px;
    }
    .yy{
        padding-top: 55px;
        font-size: 25px;
        padding-left: 20px;
    }
    .zz{
        margin-left: -35px;
        font-size: 17px;
        color: gray;
    }
    .ab{
        margin-left: -35px;
        margin-top: -17px;
        font-size: 17px;
        color: gray;
    }
    .jj > div > .fc{
        margin-left: 30px; 
        color: grey; 
        font-size: 19px; 
        padding-top:30px;
    }
    .jj > div > .ww{
        margin-left: 20px;
    }
    .jj > div > .xy{
        margin-left: 30px;
        margin-top: 20px;
    }
    .jj > .ll{
        display: none;
    }
    .line{
        margin-left: 15px;
        height: 330px;
        width: 320px;
        border: 1px solid rgb(213, 211, 211);
        margin-top: 30px;
        background-color: rgb(249, 247, 247);
    }
    .st{
        padding-left: 25px;
    }
    .uv{
        padding-left: 15px;
        font-size: 19px;
        color: gray;
    }
    .wx{
        padding-left: 20px;
        font-size: 25px;
        padding-top: 60px;
    }
    .yz{
        padding-left: 20px;
    }
    .qr{
        padding-left: 20px;
        font-size: 15px;
    }
    .za{
        padding-left: 30px;
    }
    .bb{
        padding-left: 20px;
        font-size: 15px;
    }
    .bs{
        padding-left: 20px;
        font-size: 15px;
        padding-top: 10px;
    }
     .jj > .ll1{
        font-size: 55px;
        margin-left: 20px;
        display: visible;
        font-size: 28px;
        margin-top: 60px;
    }
     .main >.ee{
        color: white; 
        margin-left: -215px;
        font-size: 23px;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }
    .main > .list123{
        display: inline;
        margin-left: -135px;
        color: white;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 20px;
    }
    .ii{
        padding-left: 15px;
        font-size: 35px;
        padding-top: 20px;
        font-weight: 100;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .jj > div >.mm{
        margin-left: 30px;
        margin-top: -5px;
        background-color: #EAEAEA;
        flex-direction: column;
        flex-wrap: wrap;
        height: 25px;
    }
    .jj > div > .rr{
        display: none;
    }
    .jj > div >.nn{
        margin-left: 30px;
        margin-top: 25px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .jj > div >.pt{
        margin-left: 30px;
        margin-top: 30px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .jj{
        display: flex;
        width: 90%;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .kk{
        font-size: 15px;
        margin-top: -50px;
        margin-left: 10px;
        font-weight: bolder;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .ll{
        font-size: 35px;
        margin-left: -260px;
        
    }
    .tt1{
        margin-top: 60px;
        font-size: 25px;
        margin-left: 20px;
    }
}